* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-primary: hsl(231, 69%, 60%); /* Blue */
    --color-secondary: hsl(0, 94%, 66%); /* Red (for login/contact) */
    --color-text: hsl(229, 8%, 60%); /* Grayish Blue */
    --color-heading: hsl(229, 31%, 21%); /* Dark Blue */
    --font-family: 'Rubik', sans-serif;
}
body{
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    background:crimson ;
}
.main-container{
background:#fff;
width: 400vw;
}
.Sidebar{
    position: fixed;
    top: 0%;
    right: 0%;
    height: 300vh;
    width: 250px;
    z-index: 999;
   background-color: rgba(76, 76, 253, 0.404);
    box-shadow: -10px 0 10px rgba(0,0,0,0.4);
    display: none;
    flex-direction: column;
     align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    text-align: center;
}
.Sidebar{
    width: 100%;
    height: 100%;
}
.Sidebar img{
    width: 400%;
}
.hideOnMobile{
    display: none;
}
.Sidebar .login{
    width: 200%;
    height: 200%;
    border-radius: 5%;
    font-size: 50px;
}
.links{
   color: #fff;
   font-size: 50px;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  2%;
    padding-top: 10%;
    padding-left: 10%;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 10px 30px;
}
nav ul li a{
    color:  var( --color-heading);
    text-decoration: none;
    font-size: 30px;
    
    transition: all 0.3.s;
}
nav ul li a:hover{
  color:   var(--color-secondary);
}
.logo img{
    width: 300%;
}
.login{
    border: none;
    background: var(--color-secondary);
    color: #fff;
    padding:  10px;
    width: 90px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login:hover{
   border: 1px solid var(--color-secondary);
   background: #fff;
   color: var(--color-secondary);
}
.hero-section{
     padding: 4rem ;
    overflow: hidden; 
}
.hero-btns{
    display: block;
}
.hero-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    padding: 10%;
}
.hero-section h1{
     color: var(--color-heading);
    font-size: 5rem;
    font-weight: 700;
}
.hero-section p{
    margin-bottom: 1.5rem;
   font-size: 50px;
}
.hero-image img{
    width: 150%;
    position: relative;
    left: -150px;
     transition: transform 0.3s ease;
    transform: translateY(40px);
    animation: cardFadeUp 0.8s ease forwards;
}

.blue-bg{
    position:absolute;
    width: 305%;
    height: 70%;
    bottom: -450px;
    border-radius: 200px 0 0 200px;
    background: var(--color-primary);
     transition: transform 0.3s ease;
    transform: translateY(40px);
    animation: cardFadeUp 0.8s ease forwards;
}
@keyframes cardFadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
   


.hero-btns {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.875rem;
    position: relative;
    left: -20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-1 {
    background-color: var(--color-primary);
    color: white;
    padding: 30px 30px;
    font-size: 50px;
    box-shadow: 0 5px 10px rgba(90, 90, 250, 0.2);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;

}
.btn-1:hover {
    background-color: white;
    color: var(--color-primary);
}

.btn-2 {
    background-color: hsl(0, 0%, 95%);
    color: var(--color-heading);
    padding: 30px 30px;
    font-size: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    right: -20px;
}
.btn-2:hover {
    background-color: white;
    border-color: var(--color-heading);
}

.btn-login, .btn-contact {
    background-color: var(--color-secondary);
    color: white;
    border: 2px solid var(--color-secondary);
}
.btn-login:hover, .btn-contact:hover {
    background-color: white;
    color: var(--color-secondary);
}
.features-section {
    padding: 6rem;
}
.features-section h2{
    font-size: 5rem;
    text-align: center;
}
.description{
    font-size: 50px;
}

.features-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 700px;
    margin: 0 auto 4rem;
    border-bottom: 1px solid var(--color-text);
}

.tab-btn {
    background: none;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: var(--color-text);
    font-size: 3rem;
    font-weight: 400;
    position: relative;
     border-bottom: 1px solid var(--color-text);
}
.tab-btn:hover::after{
     content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-secondary);
    border-radius: 5px;
}
.tab-btn.active {
    color: var(--color-heading);
    font-weight: 500;
}
.tab-btn.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-secondary);
    border-radius: 5px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0 8rem;
}

.feature-image {
    flex: 1.2;
    position: relative;
}

.feature-image img {
    width: 170%;
    position: relative;
    left: -150px;
     transition: transform 0.3s ease;
    transform: translateY(40px);
    animation: cardFadeUp 0.8s ease forwards;
}
@keyframes cardFadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.feature-text{
    padding-top: 10%;
}
.feature-text h3 {
    font-size: 5rem;
    text-align: center;
}
.feature-text p {
    font-size: 50px;
}
.B{
    position:absolute;
    width: 200%;
    height: 100%;
   bottom: -100px;
   left: -400px;
    border-radius: 0px 200px 200px 0px;
    background: var(--color-primary);
     transition: transform 0.3s ease;
    transform: translateY(40px);
    animation: cardFadeUp 0.8s ease forwards;
}
.feature-text .btn{
    display: none;
    background: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
}
.feature-text .btn:hover{
    color: var(--color-primary);
    background: #fff;
    border: 2px solid var(--color-primary);
}
.download-section {
    padding: 4rem;
}
.browser-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    height: 100%;
    width: 100%;
}
.card {
    height: 100%;
    width: 100%;
    justify-items: center;
    background: white;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    text-align: center;
    box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.05);
    flex: 1;
    margin-top: 2rem; /* Initial margin */
    transition: transform 0.3s;
}
.card img {
   width: 40%;
  
}
.card h4 {
    color: var(--color-heading);
    font-size: 4rem;
    margin-bottom: 0.25rem;
}
.section-description{
    font-size: 50px;
}
.download-section h2{
    font-size: 5rem;
    text-align: center;
}
.btn-install {
    background-color: var(--color-primary);
    color: white;
    font-size: 30px;
    padding: 2rem 1.5rem;
    width: 50%;
    margin-top: 1rem;
    border: 2px solid var(--color-primary);
}
.btn-install:hover {
    background-color: white;
    color: var(--color-primary);
}
.dots-separator {
    height: 4px;
    width: 100%;
    background-image: url("images/bg-dots.svg");
    background-repeat: repeat-x;
    margin: 1.5rem 0;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


.card p {
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.dots-separator {
    height: 4px;
    width: 100%;
    background-image: url("images/bg-dots.svg");
    background-repeat: repeat-x;
    margin: 1.5rem 0;
}
.faq-section {
    text-align: center;
    padding: 0 5% 80px;
}
.faq-section {
    padding: 4rem;
}
.faq-section .container{
     width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.faq-items {
    width: 800px;
    margin: 0 auto 2rem;
    padding-top: 5%;
      border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    

}
.faq-item {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
   
}
.faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--color-heading);
    cursor: pointer;
    font-weight: 400;
}
.Frequently{
    text-align: center;
    font-size: 5rem;
}
.description-2{
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}
.btn-info {
    background: var(--color-primary);
    color: white;
    padding: 24px 30px;
    margin-top: 1rem;
    font-size: 3rem;
    border-color: var(--color-primary);
    border-radius: 5px;
    width: fit-content;
}
.btn-info:hover{
    background-color: white;
     border-color: var(--color-primary);
     color: var(--color-primary);
}
.cta-banner {
    background-color: var(--color-primary);
    color: white;
    padding: 4rem 0;
    text-align: center;
}
.cta-count {
    font-size: 2.5rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}
h3{
     color: #fff;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 5rem;
    margin: 0 auto 2rem;
}
.cta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    justify-items: center;
    position: relative;
    right: -250px;

}
.cta-form input[type="email"] {
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: none;
    border-radius: 15px;
    width: 600px;
    font-size: 3rem;
    text-align: center;
    width: 600px;
    height: 100px;
}
.cta-form input[type="email"]::placeholder {
    color: var(--color-text);
}
.btn-contact{
    font-size: 3rem;
    padding: 30px 30px;
    width: 600px;
    border-radius: 15px;
}

.footer .container {
        flex-direction: column;
        text-align: center;
    }
    .footer-nav {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    .footer-nav .logo {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .social-icons a {
        margin: 0 0.75rem;
    }
    footer {
    background-color: var(--color-heading);
    padding: 1.5rem 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .logo {
    color: white;
    margin-right: 2rem;
    width: 150px;
   justify-items: center;
   position: relative;
   left: -100px;
}
.footer-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
}
 .menu-button img{
    width: 70px;
 }
.footer-nav a:hover {
    color: var(--color-secondary);
}
.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    transition: color 0.3s;
}
.social-icons a img{
    width: 3rem;
}
.social-icons a:hover {
    color: var(--color-secondary);
}


@media  (min-width:769px){

.main-container{
background:#fff;
height: 600vh;
width: 100%;
}
nav{
     padding-top: 5%;
    padding-left: 10%;
}
.hideOnMobile{
    display: flex;
}
.Sidebar{
    display: none;
}
.logo img{
    width: 150%;
}
nav ul li a{
    font-size: 15px;
   
}
.links{
   font-size: 15px;
    color: var(--color-heading);
}
.login{
    border: none;
    background: var(--color-secondary);
    color: #fff;
    padding:  0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login:hover{
   border: 1px solid var(--color-secondary);
   background: #fff;
   color: var(--color-secondary);
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.hero-section h1{
     color: var(--color-heading);
    font-size: 2.8rem;
    font-weight: 700;
}
.hero-section p{
 margin-bottom: 20px;
   font-size: 15px;
}
.hero-image img{
    width: 120%;
    position: relative;
    left: -29px;

}
.btn-1 {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(90, 90, 250, 0.2);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
}
.btn-2{
     background-color: hsl(0, 0%, 95%);
    color: var(--color-heading);
      padding: 10px;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 5px;
    position: relative;
    right: -20px;
    border-radius: 5px;
}
.blue-bg{
    position:absolute;
    width: 50%;
    height: 40%;
    bottom: -1px;
    right: -1px;
    background: var(--color-primary);
}
.features-section {
    padding: 6rem;
}
.features-section h2{
    font-size: 3rem;
}
.description{
    max-width: 500px;
    margin: 0.5rem auto 3rem;
    font-size: 15px;
    text-align: center;
}

.features-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 700px;
    margin: 0 auto 4rem;
    border-bottom: 1px solid var(--color-text);
}
.tab-btn {
    background: none;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 400;
    position: relative;
     border-bottom: 1px solid var(--color-text);
}
.feature-text {
    flex: 1;
    text-align: left;
    position: relative;
    right: -250px;
    top: -400px;
}
.feature-text h3 {
    font-size: 1.75rem;
}
.feature-text p {
    max-width: 450px;
    font-size: 20px;
}
.feature-text .btn {
    margin-top: 1.5rem;
}
.feature-text .btn{
    background: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
    display: flex;
}
.feature-text .btn:hover{
    color: var(--color-primary);
    background: #fff;
    border: 2px solid var(--color-primary);
}
.feature-image img {
    width: 80%;
    position: relative;
    left: -250px;
    bottom: -60px;
}
.B{
    position:absolute;
    width: 100%;
    height: 80%;
   bottom: -100px;
   left: -400px;
    border-radius: 0px 200px 200px 0px;
    background: var(--color-primary);
}
.browser-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}
    
.download-section {
   position: relative;
   top: -400px;

}
.browser-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}
.card {
    height: 100%;
    width: 100%;
    justify-items: center;
    background: white;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    text-align: center;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.05);
    flex: 1;
    margin-top: 2rem; /* Initial margin */
    transition: transform 0.3s;
}
.card img {
   width: 30%;
  
}
.card h4 {
    color: var(--color-heading);
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}
.section-description{
    font-size: 17px;
    max-width: 500px;
    margin: 0.5rem auto 3rem;
    text-align: center;
}
.download-section h2{
    font-size: 2rem;
    text-align: center;
}
.menu-button{
    display: none;
}
.btn-install {
    background-color: var(--color-primary);
    color: white;
    font-size: 20px;
     padding: 0.75rem 1.5rem;
    width: 100%;
    margin-top: 1rem;
    border: 2px solid var(--color-primary);
}
.btn-install:hover {
    background-color: white;
    color: var(--color-primary);
}
.dots-separator {
    height: 4px;
    width: 100%;
    background-image: url("images/bg-dots.svg");
    background-repeat: repeat-x;
    margin: 1.5rem 0;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.card p {
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 1rem;
}
.browser-cards .firefox {
    transform: translateY(20px);
}
.browser-cards .opera {
    transform: translateY(40px);
}


.dots-separator {
    height: 4px;
    width: 100%;
    background-image: url("images/bg-dots.svg");
    background-repeat: repeat-x;
    margin: 1.5rem 0;
}


.faq-section {
    padding: 4rem;
    position: relative;
    top: -150px;
}
.faq-items {
    max-width: 500px;
    margin: 0 auto 2rem;
    padding-top: 5%;
}
.faq-item {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
   
}
.faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--color-heading);
    cursor: pointer;
    font-weight: 400;
}
.Frequently{
    text-align: center;
    font-size: 2rem;
}
.description-2{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

.btn-info {
    background: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-color: var(--color-primary);
    border-radius: 5px;
    width: fit-content;
}
.btn-info:hover{
    background-color: white;
     border-color: var(--color-primary);
     color: var(--color-primary);
}


.cta-banner {
    background-color: var(--color-primary);
    color: white;
    padding: 4rem 0;
    text-align: center;
}
.cta-count {
    font-size: 0.875rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}
.cta-banner h3 {
    color: white;
    font-size: 2rem;
    max-width: 450px;
    margin: 0 auto 2rem;
}
.cta-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    position: relative;
    right: 0;
}
.cta-form input[type="email"] {
    padding:10px;
    border-radius: 5px;
    border: none;
    width: 600px;
    height: 50px;
    font-size: 1rem;
}
.cta-form input[type="email"]::placeholder {
    color: var(--color-text);
}
.cta-form .btn-contact {
    padding: 0.8rem 1.5rem;
}
.btn-contact{
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
}
.footer {
    background-color: var(--color-heading);
    padding: 2rem 0;
}
.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .logo {
    color: white;
    margin-right: 2rem;
}
.logo{
    position: relative;
    bottom: -10px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-left: 10%;
}
.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    transition: color 0.3s;
}
.footer-nav a:hover {
    color: var(--color-secondary);
}
.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    transition: color 0.3s;
    position: relative;
    top: -2px;
}
.social-icons a img{
    width: 1.5rem;
}
.social-icons a:hover {
    color: var(--color-secondary);
}


}